# Dataset Clustering

### Dataset Description

Name : [Energy consumption of the Netherlands](https://www.kaggle.com/lucabasa/dutch-energy)

Enexis, Liander, and Stedin are the three major network administrators of the Netherlands and, together, they provide energy to nearly the entire country. Every year, they release on their websites a table with the energy consumption of the areas under their administration.

The data are anonymized by aggregating the Zipcodes so that every entry describes at least 10 connections.

This market is not competitive, meaning that the zones are assigned. This means that every year they roughly provide energy to the same zipcodes. Small changes can happen from year to year either for a change of management or for a different aggregation of zipcodes.


Every file is from a network administrator from a specific year.

### The columns in each file are:

- net_manager: code of the regional network manager
- purchase_area: code of the area where the energy is purchased
- street: Name of the street
- zipcode_from and zipcode_to: 2 columns for the range of zipcodes covered, 4 numbers and 2 letters
- city: Name of the city
- num_connections: Number of connections in the range of zipcodes
- delivery_perc: percentage of the net consumption of electricity or gas. The lower, the more energy was given back to the grid (for example if you have solar panels)
- perc_of_active_connections: Percentage of active connections in the zipcode range
- type_of_connection: principal type of connection in the zipcode range. For electricity is # fuses X # amp√®re. For gas is G4, G6, G10, G16, G25
- type_conn_perc: percentage of presence of the principal type of connection in the zipcode range
- annual_consume: Annual consume. Kwh for electricity, m3 for gas
- annual_consume_lowtarif_perc: Percentage of consume during the low tarif hours. From 10 p.m. to 7 a.m. and during weekends.
- smartmeter_perc: percentage of smartmeters in the zipcode ranges

In [105]:
# Spark Initialization

from pyspark.sql import SparkSession

# Create Spark Session
spark = SparkSession \
    .builder \
    .appName("Python Spark SQL basic example") \
    .getOrCreate()

In [106]:
print(spark)

<pyspark.sql.session.SparkSession object at 0x1197626a0>

## Dataset Preprocess

### Combine all the dataset

Append Dataset from specific provider

In [107]:
import numpy as np
import pandas as pd

#visualization
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline

from os.path import join, isfile
from os import path, scandir, listdir

import gc

In [108]:
def list_all_files(location='../dataset/', pattern=None, recursive=True):
    """
    This function returns a list of files at a given location (including subfolders)
    
    - location: path to the directory to be searched
    - pattern: part of the file name to be searched (ex. pattern='.csv' would return all the csv files)
    - recursive: boolean, if True the function calls itself for every subdirectory it finds
    """
    subdirectories= [f.path for f in scandir(location) if f.is_dir()]
    files = [join(location, f) for f in listdir(location) if isfile(join(location, f))]
    if recursive:
        for directory in subdirectories:
            files.extend(list_all_files(directory))
    if pattern:
        files = [f for f in files if pattern in f]
    return files

In [109]:
list_all_files('../dataset/Electricity/', pattern='stedin')

['../dataset/Electricity/stedin_electricity_2019.csv',
 '../dataset/Electricity/stedin_electricity_2018.csv',
 '../dataset/Electricity/stedin_electricity_2009.csv',
 '../dataset/Electricity/stedin_electricity_2010.csv',
 '../dataset/Electricity/stedin_electricity_2011.csv',
 '../dataset/Electricity/stedin_electricity_2013.csv',
 '../dataset/Electricity/stedin_electricity_2012.csv',
 '../dataset/Electricity/stedin_electricity_2016.csv',
 '../dataset/Electricity/stedin_electricity_2017.csv',
 '../dataset/Electricity/stedin_electricity_2015.csv',
 '../dataset/Electricity/stedin_electricity_2014.csv']

In [110]:
import pandas as pd
import glob

interesting_files = glob.glob("../dataset/Electricity/stedin*.csv") 
print (sorted(interesting_files))

df_list = []
for filename in sorted(interesting_files):
    df_list.append(pd.read_csv(filename))
full_df = pd.concat(df_list)

full_df.to_csv('output.csv')

['../dataset/Electricity/stedin_electricity_2009.csv', '../dataset/Electricity/stedin_electricity_2010.csv', '../dataset/Electricity/stedin_electricity_2011.csv', '../dataset/Electricity/stedin_electricity_2012.csv', '../dataset/Electricity/stedin_electricity_2013.csv', '../dataset/Electricity/stedin_electricity_2014.csv', '../dataset/Electricity/stedin_electricity_2015.csv', '../dataset/Electricity/stedin_electricity_2016.csv', '../dataset/Electricity/stedin_electricity_2017.csv', '../dataset/Electricity/stedin_electricity_2018.csv', '../dataset/Electricity/stedin_electricity_2019.csv']

## Clustering Session

In [111]:
## reload dataset
df = spark.read.csv("./consumer/output.csv", header=True, inferSchema=True)

In [112]:
df.printSchema()

root
 |-- _c0: integer (nullable = true)
 |-- net_manager: long (nullable = true)
 |-- purchase_area: string (nullable = true)
 |-- street: string (nullable = true)
 |-- zipcode_from: string (nullable = true)
 |-- zipcode_to: string (nullable = true)
 |-- city: string (nullable = true)
 |-- num_connections: integer (nullable = true)
 |-- delivery_perc: double (nullable = true)
 |-- perc_of_active_connections: double (nullable = true)
 |-- type_conn_perc: double (nullable = true)
 |-- type_of_connection: string (nullable = true)
 |-- annual_consume: integer (nullable = true)
 |-- annual_consume_lowtarif_perc: double (nullable = true)
 |-- smartmeter_perc: double (nullable = true)

In [113]:
# assembling vector
from pyspark.ml.feature import VectorAssembler

assembler = VectorAssembler(
    inputCols=["annual_consume"],
    outputCol='features')

data = assembler.transform(df)
data.show()

+---+-------------+--------------+--------------------+------------+----------+----------+---------------+-------------+--------------------------+--------------+------------------+--------------+----------------------------+---------------+--------+
|_c0|  net_manager| purchase_area|              street|zipcode_from|zipcode_to|      city|num_connections|delivery_perc|perc_of_active_connections|type_conn_perc|type_of_connection|annual_consume|annual_consume_lowtarif_perc|smartmeter_perc|features|
+---+-------------+--------------+--------------------+------------+----------+----------+---------------+-------------+--------------------------+--------------+------------------+--------------+----------------------------+---------------+--------+
|  0|8716874000009|Stedin Utrecht|Gijsbrecht van Am...|      1181EJ|    1231AB|AMSTELVEEN|             32|        100.0|                     93.75|          78.0|              3x25|          5948|                       81.25|            0.0|[5948.0]|
|  1|8716874000009|Stedin Utrecht|       Rembrandtlaan|      1231AC|    1231AC|LOOSDRECHT|             17|        100.0|                     100.0|          41.0|              1x25|          3467|                       76.47|            0.0|[3467.0]|
|  2|8716874000009|Stedin Utrecht|       Rembrandtlaan|      1231AD|    1231AD|LOOSDRECHT|             17|        100.0|                     100.0|          41.0|              3x25|          3880|                       64.71|            0.0|[3880.0]|
|  3|8716874000009|Stedin Utrecht|       Jan Steenlaan|      1231AE|    1231AE|LOOSDRECHT|             20|        100.0|                     100.0|          45.0|              1x25|          4699|                        85.0|            0.0|[4699.0]|
|  4|8716874000009|Stedin Utrecht| Pieter de Hooghlaan|      1231AG|    1231AG|LOOSDRECHT|             17|        100.0|                     100.0|          71.0|              1x25|          4039|                       64.71|            0.0|[4039.0]|
|  5|8716874000009|Stedin Utrecht|   Paulus Potterlaan|      1231AH|    1231AH|LOOSDRECHT|             22|        100.0|                     100.0|          41.0|              3x25|          3991|                       86.36|           4.55|[3991.0]|
|  6|8716874000009|Stedin Utrecht|      Van Mierislaan|      1231AJ|    1231AJ|LOOSDRECHT|             23|        100.0|                     100.0|          52.0|              1x25|          3673|                       73.91|            0.0|[3673.0]|
|  7|8716874000009|Stedin Utrecht|      Van Ostadelaan|      1231AK|    1231AK|LOOSDRECHT|             21|        100.0|                     100.0|          67.0|              3x25|          4150|                       71.43|            0.0|[4150.0]|
|  8|8716874000009|Stedin Utrecht|   Van der Helstlaan|      1231AL|    1231AL|LOOSDRECHT|             17|        94.12|                     100.0|          47.0|              3x25|          4299|                       88.24|            0.0|[4299.0]|
|  9|8716874000009|Stedin Utrecht|   Van der Helstlaan|      1231AM|    1231AM|LOOSDRECHT|             12|        100.0|                     100.0|          42.0|              1x25|          4449|                       83.33|            0.0|[4449.0]|
| 10|8716874000009|Stedin Utrecht|         Vermeerlaan|      1231AN|    1231AN|LOOSDRECHT|             22|        100.0|                     100.0|          41.0|              1x35|          3807|                       90.91|            0.0|[3807.0]|
| 11|8716874000009|Stedin Utrecht|         Vermeerlaan|      1231AP|    1231AP|LOOSDRECHT|             13|        100.0|                     100.0|          46.0|              3x25|          4559|                       84.62|            0.0|[4559.0]|
| 12|8716874000009|Stedin Utrecht|        Ruysdaellaan|      1231AR|    1231AR|LOOSDRECHT|             19|        100.0|                     100.0|          37.0|              1x25|          5369|                       73.68|            0.0|[5369.0]|
| 13|8716874000009|Stedin Utrecht|        Ruysdaellaan|      1231AS|    1231AS|LOOSDRECHT|             23|        100.0|                     100.0|          52.0|              1x25|          3349|                       78.26|            0.0|[3349.0]|
| 14|8716874000009|Stedin Utrecht|         St. Annepad|      1231AT|    1231AT|LOOSDRECHT|             16|        100.0|                     100.0|          50.0|              3x25|          5163|                       93.75|            0.0|[5163.0]|
| 15|8716874000009|Stedin Utrecht|         St. Annepad|      1231AV|    1231AV|LOOSDRECHT|             20|        100.0|                     100.0|          50.0|              1x25|          4756|                        85.0|            0.0|[4756.0]|
| 16|8716874000009|Stedin Utrecht|          Dennenlaan|      1231AW|    1231AW|LOOSDRECHT|             16|        100.0|                     100.0|          69.0|              1x25|          3268|                        75.0|            0.0|[3268.0]|
| 17|8716874000009|Stedin Utrecht|          Dennenlaan|      1231AX|    1231AX|LOOSDRECHT|             14|        100.0|                     100.0|          50.0|              1x25|          4626|                       92.86|            0.0|[4626.0]|
| 18|8716874000009|Stedin Utrecht|            Bloklaan|      1231AZ|    1231AZ|LOOSDRECHT|             81|        100.0|                     65.43|          46.0|              3x25|          6053|                       54.32|            0.0|[6053.0]|
| 19|8716874000009|Stedin Utrecht|      Frans Halslaan|      1231BA|    1231BA|LOOSDRECHT|             20|        100.0|                     100.0|          30.0|              3x25|          5282|                        85.0|            0.0|[5282.0]|
+---+-------------+--------------+--------------------+------------+----------+----------+---------------+-------------+--------------------------+--------------+------------------+--------------+----------------------------+---------------+--------+
only showing top 20 rows

In [114]:
# Train model
from pyspark.ml.clustering import KMeans
from pyspark.ml.evaluation import ClusteringEvaluator

kmeans = KMeans().setK(10).setSeed(1)
model = kmeans.fit(data)

In [115]:
# Make a prediction
predictions = model.transform(data)
predictions.show(5)

+---+-------------+--------------+--------------------+------------+----------+----------+---------------+-------------+--------------------------+--------------+------------------+--------------+----------------------------+---------------+--------+----------+
|_c0|  net_manager| purchase_area|              street|zipcode_from|zipcode_to|      city|num_connections|delivery_perc|perc_of_active_connections|type_conn_perc|type_of_connection|annual_consume|annual_consume_lowtarif_perc|smartmeter_perc|features|prediction|
+---+-------------+--------------+--------------------+------------+----------+----------+---------------+-------------+--------------------------+--------------+------------------+--------------+----------------------------+---------------+--------+----------+
|  0|8716874000009|Stedin Utrecht|Gijsbrecht van Am...|      1181EJ|    1231AB|AMSTELVEEN|             32|        100.0|                     93.75|          78.0|              3x25|          5948|                       81.25|            0.0|[5948.0]|         7|
|  1|8716874000009|Stedin Utrecht|       Rembrandtlaan|      1231AC|    1231AC|LOOSDRECHT|             17|        100.0|                     100.0|          41.0|              1x25|          3467|                       76.47|            0.0|[3467.0]|         2|
|  2|8716874000009|Stedin Utrecht|       Rembrandtlaan|      1231AD|    1231AD|LOOSDRECHT|             17|        100.0|                     100.0|          41.0|              3x25|          3880|                       64.71|            0.0|[3880.0]|         0|
|  3|8716874000009|Stedin Utrecht|       Jan Steenlaan|      1231AE|    1231AE|LOOSDRECHT|             20|        100.0|                     100.0|          45.0|              1x25|          4699|                        85.0|            0.0|[4699.0]|         0|
|  4|8716874000009|Stedin Utrecht| Pieter de Hooghlaan|      1231AG|    1231AG|LOOSDRECHT|             17|        100.0|                     100.0|          71.0|              1x25|          4039|                       64.71|            0.0|[4039.0]|         0|
+---+-------------+--------------+--------------------+------------+----------+----------+---------------+-------------+--------------------------+--------------+------------------+--------------+----------------------------+---------------+--------+----------+
only showing top 5 rows

In [116]:
evaluator = ClusteringEvaluator()

silhouette = evaluator.evaluate(predictions)
print("Silhouette with squared euclidean distance = " + str(silhouette))

Silhouette with squared euclidean distance = 0.6943417399022496

In [117]:
# Shows the result
centers = model.clusterCenters()
print("Cluster Centers: ")
for center in centers:
    print(center)

Cluster Centers:
[4401.83472171]
[13633.85643048]
[3222.14101387]
[19486.50643288]
[9376.52710749]
[40276.51734104]
[27509.94333333]
[6346.39143773]
[2116.36194418]
[84505.96153846]

In [103]:
import pandas
import glob
dataset_path = "consumer"

set = '2'

interesting_files = glob.glob('consumer/output[0-'+set+'].csv') 

print (interesting_files)

df_list = []
for filename in sorted(interesting_files):
    df_list.append(pandas.read_csv(filename,header=None))
full_df = pandas.concat(df_list,)

full_df.head(20)

['consumer/output1.csv', 'consumer/output0.csv', 'consumer/output2.csv']

,0,1,2,3,4,5,6,7,8,9,10,11,12,13
0,net_manager,purchase_area,street,zipcode_from,zipcode_to,city,delivery_perc,num_connections,perc_of_active_connections,type_conn_perc,type_of_connection,annual_consume,annual_consume_lowtarif_perc,smartmeter_perc
1,Enexis B.V.,ENEXIS,Sasdijk,4251AB,4251AB,WERKENDAM,100,16,100,NaN,NaN,4282,25,0.0
2,Enexis B.V.,ENEXIS,Sasdijk,4251AC,4251AC,WERKENDAM,100,11,100,NaN,NaN,5113,10,0.0
3,Enexis B.V.,ENEXIS,Sasdijk,4251AD,4251AD,WERKENDAM,100,30,100,NaN,NaN,4809,34,0.0
4,Enexis B.V.,ENEXIS,Nieuweweg,4251AE,4251AG,WERKENDAM,100,21,100,NaN,NaN,5015,44,0.0
0,net_manager,purchase_area,street,zipcode_from,zipcode_to,city,delivery_perc,num_connections,perc_of_active_connections,type_conn_perc,type_of_connection,annual_consume,annual_consume_lowtarif_perc,smartmeter_perc
1,Enexis B.V.,ENEXIS,Sasdijk,4251AB,4251AB,WERKENDAM,100,16,100,NaN,NaN,4282,25,0.0
2,Enexis B.V.,ENEXIS,Sasdijk,4251AC,4251AC,WERKENDAM,100,11,100,NaN,NaN,5113,10,0.0
3,Enexis B.V.,ENEXIS,Sasdijk,4251AD,4251AD,WERKENDAM,100,30,100,NaN,NaN,4809,34,0.0
4,Enexis B.V.,ENEXIS,Nieuweweg,4251AE,4251AG,WERKENDAM,100,21,100,NaN,NaN,5015,44,0.0
5,Enexis B.V.,ENEXIS,Koppenhof,4251AH,4251AH,WERKENDAM,100,12,100,NaN,NaN,3074,22,0.0
6,Enexis B.V.,ENEXIS,Plein,4251AJ,4251AJ,WERKENDAM,100,26,100,NaN,NaN,5480,26,0.0
7,Enexis B.V.,ENEXIS,Zevenhuizen,4251AK,4251AN,WERKENDAM,100,24,100,NaN,NaN,3191,34,0.0
8,Enexis B.V.,ENEXIS,Zagerij,4251AP,4251AT,WERKENDAM,100,32,100,NaN,NaN,2664,44,0.0
9,Enexis B.V.,ENEXIS,Sluisstraat,4251AV,4251AV,WERKENDAM,100,21,100,NaN,NaN,3244,49,0.0
0,net_manager,purchase_area,street,zipcode_from,zipcode_to,city,delivery_perc,num_connections,perc_of_active_connections,type_conn_perc,type_of_connection,annual_consume,annual_consume_lowtarif_perc,smartmeter_perc
1,Enexis B.V.,ENEXIS,Sasdijk,4251AB,4251AB,WERKENDAM,100,16,100,NaN,NaN,4282,25,0.0
2,Enexis B.V.,ENEXIS,Sasdijk,4251AC,4251AC,WERKENDAM,100,11,100,NaN,NaN,5113,10,0.0
3,Enexis B.V.,ENEXIS,Sasdijk,4251AD,4251AD,WERKENDAM,100,30,100,NaN,NaN,4809,34,0.0
4,Enexis B.V.,ENEXIS,Nieuweweg,4251AE,4251AG,WERKENDAM,100,21,100,NaN,NaN,5015,44,0.0

In [119]:
dfspark = spark.createDataFrame(full_df)

In [120]:
dfspark.printSchema()

root
 |-- net_manager: long (nullable = true)
 |-- purchase_area: string (nullable = true)
 |-- street: string (nullable = true)
 |-- zipcode_from: string (nullable = true)
 |-- zipcode_to: string (nullable = true)
 |-- city: string (nullable = true)
 |-- num_connections: long (nullable = true)
 |-- delivery_perc: double (nullable = true)
 |-- perc_of_active_connections: double (nullable = true)
 |-- type_conn_perc: double (nullable = true)
 |-- type_of_connection: string (nullable = true)
 |-- annual_consume: long (nullable = true)
 |-- annual_consume_lowtarif_perc: double (nullable = true)
 |-- smartmeter_perc: double (nullable = true)

In [82]:
from pyspark.ml.feature import VectorAssembler

assembler = VectorAssembler(
    inputCols=['annual_consume'],
    outputCol='features')

data = assembler.transform(full_df)
data.show()

AttributeError: 'DataFrame' object has no attribute '_jdf'

In [94]:
val = 1234
type(val)

input = spark.createDataFrame([("1","2","3","4","5","6","7","8","9","10","11",5123,"13","14",[val])],["net_manager","purchase_area","street","zipcode_from","zipcode_to","city","delivery_perc","num_connections","perc_of_active_connections","type_conn_perc","type_of_connection","annual_consume","annual_consume_lowtarif_perc","smartmeter_perc","features"])
model.transform(input)

IllegalArgumentException: 'requirement failed: Column features must be of type equal to one of the following types: [struct<type:tinyint,size:int,indices:array<int>,values:array<double>>, array<double>, array<float>] but was actually of type array<bigint>.'

In [93]:
type(val)

int

In [80]:
model.transform(input)

IllegalArgumentException: 'requirement failed: Column features must be of type equal to one of the following types: [struct<type:tinyint,size:int,indices:array<int>,values:array<double>>, array<double>, array<float>] but was actually of type array<bigint>.'

In [69]:
import numpy as np
import pandas as pd
columns = ["net_manager","purchase_area","street","zipcode_from","zipcode_to","city","delivery_perc","num_connections","perc_of_active_connections","type_conn_perc","type_of_connection","annual_consume","annual_consume_lowtarif_perc","smartmeter_perc","features"]
rows = ["D", "E", "F"]
data = np.array(["1","2","3","4","5","6","7","8","9","10","11",5123,"13","14",[4123]])
df = pd.DataFrame(data=data, columns=columns)

ValueError: Shape of passed values is (15, 1), indices imply (15, 15)

In [66]:
df.head()

   A  B  C
D  1  2  2
E  3  3  3
F  4  4  4

In [128]:
Data = {'name':  ['ok'],
        'features': 1234,
      }


fuad = pd.DataFrame (Data, columns = ['name','features'])

In [129]:
fuad = spark.createDataFrame(fuad)
fuad.printSchema()

root
 |-- name: string (nullable = true)
 |-- features: long (nullable = true)

In [130]:
model.transform(fuad)

IllegalArgumentException: 'requirement failed: Column features must be of type equal to one of the following types: [struct<type:tinyint,size:int,indices:array<int>,values:array<double>>, array<double>, array<float>] but was actually of type bigint.'